/*
1A0D4B dark navy
0C5AA6 light blue
FF4500 dark orange
FF9000 light orange
00AE68 green
*/
*{
  margin: 0;
  padding: 0;
  boxing-sizing: border-box;
}
body{
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #00FF00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #0000FF;
    text-decoration: underline;
}
h1{
  color:white;
  font-size: 36pt;
  text-align: center;
}

section{
  text-align: center;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#section-1{
  text-align: center;
  color: white;
  background-color: black;
  background:
    linear-gradient(135deg, #000000 22px, #D6521E 22px, #D6521E 24px, transparent 24px, transparent 67px, #D6521E 67px, #D6521E 69px, transparent 69px),
    linear-gradient(225deg, #000000 22px, #D6521E 22px, #D6521E 24px, transparent 24px, transparent 67px, #D6521E 67px, #D6521E 69px, transparent 69px)0 64px;
    background-color:#000000;
    background-size: 64px 128px;
    background-attachment: fixed;

}
.about-me{
  padding-top: 50px;
  font-size: 25px;
  line-height: normal;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
#section-2{
  /*background-image: url('https://download.unsplash.com/uploads/14128853230824cc16f3e/c38fccbd')*/
  padding-top: 50px;
  height: 1000px;
  background:
    linear-gradient(135deg, #00AE68 22px, #D6521E 22px, #D6521E 24px, transparent 24px, transparent 67px, #D6521E 67px, #D6521E 69px, transparent 69px),
    linear-gradient(225deg, #00AE68 22px, #D6521E 22px, #D6521E 24px, transparent 24px, transparent 67px, #D6521E 67px, #D6521E 69px, transparent 69px)0 64px;
    background-color:#00AE68;
    background-size: 64px 128px;
    background-attachment: fixed;
}
.about-project{
  font-size: 25px;
  line-height: normal;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
#section-3{
  /*background-image: url('https://download.unsplash.com/photo-1413913619092-816734eed3a7')*/
  padding-top: 50px;
  background:
    linear-gradient(135deg, #ff9b03 22px, #000000 22px, #000000 24px, transparent 24px, transparent 67px, #000000 67px, #000000 69px, transparent 69px),
    linear-gradient(225deg, #ff9b03 22px, #000000 22px, #000000 24px, transparent 24px, transparent 67px, #000000 67px, #000000 69px, transparent 69px)0 64px;
    background-color:#ff9b03;
    background-size: 64px 128px;
    background-attachment: fixed;
}
.contact-links{
  font-size: 30px;
  line-height: normal;
}
#name-glow{
  padding-top: 150px;
  color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}
#nickname{
 font-size: 300%;
}
.grid-container{
  width: 100% !important;
  height: 700px;
}

/*.card {
  width: 600px;
  height: 400px;
  margin: 20px;
}*/
.card-grid{
  display: inline-block;
  overflow: visible;
  width:47%;
  padding: 1%;
  height: 400px;
  overflow: hidden;
}


h3{
  text-align: center;
}

.front, .back {
  border: 2px gray solid;
  padding: 0;
  margin: 0;
  width: 100% !important;
}
.front {
  background-color: #ccc;
}
.back {
  color: white;
  background-color: rgba(1,1,1,1);
}
.project-img{
  background-size: 10px 10px;
}


@media only screen and (max-width : 800px) {
	.card-grid{
    width: 95%;
  }
  #section-2{
    height: 1800px;
  }
  #nickname{
    font-size: 200%
  }
  .about-me{
    font-size: 18px;
  }
  .about-project{
    font-size: 18px;
  }
}
